body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    width: 300px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.container .number {
    font-size: 20px;
    padding: 4px
}

.container .info {
    font-size: 14px;
    flex-grow: 1;
    text-transform: capitalize;
}

.container .info .song {
    margin-bottom: 8px
}

.container .info .singer {
    font-size: 13px;
    color: #999
}

.container .viewer {
    font-size: 13px;
    color: #999;
    padding: 8px
}